@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

:root {
  --1989-blue: #b2dcf4;
  --speaknow-purple: #c69ad1;
  --debut-green: #BDCFB7;
  --fearless-yellow: #E8C490;
  --red-maroon: #6D3D46;
  --reputation-black: #000003;
  --lover-pink: #EAB4CC;
  --folklore-white: #f5f1f1;
  --evermore-brown: #CC9D83;
  --midnights-navy: #464D60;

  --font: "Neue Haas Grotesk Display Pro", sans-serif; 

  /* Default Colors (Midnights) */
  --background-color: #F5F9FF;
  --primary-color: #2A2F5A;
  --primary-accent-color: #4F4A8E;
  --secondary-accent-color: #C6D0E1; 
}

* {
  box-sizing: border-box;
  font-family: var(--font) !important;
  line-height: 1.5;
  
}

html,
body {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 25px;
  font-size: large;
}
.main {
  color: var(--primary-color);
}

.accent {
  color: var(--primary-accent-color);
}

.accent-2{
  color: var(--secondary-accent-color)
}
section#introduction {
  margin: 0 auto;
  font-size: medium;
  padding-top: 100px;

  .container {
    padding: 30px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
      color: var(--reputation-black)
    }
  }
}

section#visualizations {
  background: var(--background-color);
 
  position: relative;
  margin-top: 40%;
  padding-top: 100px;
}

#scrolly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem; 
}

article {
  position: relative;
  margin-top: 160px;
  color: black;

  .step {
    margin: 25px 0;
  }
  
  .step:last-child {
    margin-bottom: 0;
  }
  
  .step p {
    font-size: 1rem;
  }
}

figure {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  width: 1000px;
  margin: 0 auto;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

#chart {
  width: 750px;
  float: right;

  svg {
    display: block;
    margin: auto;
  }
}

.buttons {
  margin-left: 300px;
}

button {
  display: none;
}

#bar-button {
  display: none;
}

#tooltip {
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  box-shadow: -3px 3px 15px #939393;
  color: white;
  padding: 6px;
  font-family: "Domine";
  font-size: 1.1em;
  max-width: 400px;
  z-index: 100;
}

h2 {
  font-weight: 800 !important; 
  font-size: 1.85rem !important;
}

h3, h4, h5, h6, p {
  font-weight: 600 !important; 
}

.color-toggle{
  display: flex;
  flex-direction:row;

  .btn-circle.btn-xl {
    width: 25px;
    height: 25px;
    padding: 15px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    margin: 10px 20px 10px 0;
  }
}
#_1989{
  background: #D1F3FF !important; 
}

#lover{
  background:#FBB3D1!important; 
}

#folklore {
  background:  #D5D5D5!important; 
}

#evermore {
  background: #2E2327!important; 
}

#midnights {
  background:  #1F2E43 !important;
}

#red {
  background: #72333C !important;
}

#speaknow{
  background: #D6BADC !important;
}

#fearless {
  background: #FDDAA6 !important;
}

#debut {
  background: #c7ddc8 !important;
}

#reputation {
  background: #000003 !important;
}

#all {
  background: #BDCFB7;
background: linear-gradient(to right, #BDCFB7 0%, #E8C490 26%, #C69AD1 61%, #B2DCF4 100%, #23538A 100%);
}

.theme-selector-container {
  padding: 50px 0;
  left: 0;
}
/* HELPER CLASSES */
.title-lg {
  font-size: 50px;
  text-anchor: middle;
  font-weight: 700;
}

.title-sm {
  font-size: 25px;
  text-anchor: middle;
}

.title-xs {
  font-size: 15px;
  line-height: 1.8em;
  font-weight: 200;
}

.source {
  font-size: 10px;
}

.semibold {
  font-weight: 400;
}
.bold {
    font-weight: 600;
}

.extrabold{
  font-weight: 800;
}
